assets
04-color.zip
test.py
team_ids.txt
.idea

# Exclude folders but keep empty folders for file structure -> .gitkeep
data/**
!data/.gitkeep

logs/**
!logs/.gitkeep

out/**
!out/.gitkeep

settings/**
!settings/.gitkeep

V2/.cache/**
!V2/.cache/.gitkeep

V2/data/**
!V2/data/.gitkeep

V2/log/**
!V2/log/.gitkeep

V2/settings/**
!V2/settings/.gitkeep