04-color.zip
test.py
team_ids.txt
.idea

# Exclude folders but keep empty folders for file structure -> .gitkeep
.cache/**
!.cache/.gitkeep

data/**
!data/.gitkeep

logs/**
!logs/.gitkeep

out/**
!out/.gitkeep

settings/**
!settings/.gitkeep