04-color.zip
04-color
test.py
team_ids.txt
.idea
tutors_team_ids.json

# Exclude folders but keep empty folders for file structure -> .gitkeep
.cache/**
!.cache/.gitkeep

data/**
!data/.gitkeep

logs/**
!logs/.gitkeep

out/**
!out/.gitkeep

settings/**
!settings/.gitkeep